n8n/workflows/clauselens-main.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clause-lens",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        32
      ],
      "id": "a5f24665-fee5-4a5e-b736-e5be373c7790",
      "name": "Webhook",
      "webhookId": "f766c9d8-f771-4517-b3b9-6ef6a9d7c44c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.source }}",
                    "rightValue": "pdfFile",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "27eaa03d-c012-4e13-89f9-fce53fb16ade"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b463a684-b00c-4fde-8541-e5cd522c97c3",
                    "leftValue": "={{ $json.body.source }}",
                    "rightValue": "raw",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        32
      ],
      "id": "171721ff-8541-4b4d-bad2-18c472ebd5f2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "### 📚 Workflow déclenché par la soumission d'un document pdf",
        "height": 508,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -704
      ],
      "typeVersion": 1,
      "id": "81bd2dc5-7207-4eff-a532-dd3bcadb0c24",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### 📚 Workflow déclenché par la soumission d'un texte",
        "height": 508,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        112
      ],
      "typeVersion": 1,
      "id": "56c11d41-0d07-4542-aeb2-08be754e8ac0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -560
      ],
      "id": "07cfaeb0-f00a-4ad4-8249-f116b5739341",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        320
      ],
      "id": "08162771-33fb-4423-aea9-9465d19565f0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LosAyB10pTjm7Fwo",
          "mode": "list",
          "cachedResultUrl": "/workflow/LosAyB10pTjm7Fwo",
          "cachedResultName": "ClauseLens Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contenuDocument": "={{ $json.contenuDocument }}"
          },
          "matchingColumns": [
            "contenuDocument"
          ],
          "schema": [
            {
              "id": "contenuDocument",
              "displayName": "contenuDocument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -560
      ],
      "id": "10eec0f3-9b59-4931-98c4-33ac0f9671e0",
      "name": "Call 'ClauseLens Sub Workflow'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LosAyB10pTjm7Fwo",
          "mode": "list",
          "cachedResultUrl": "/workflow/LosAyB10pTjm7Fwo",
          "cachedResultName": "ClauseLens Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contenuDocument": "={{ $json.body.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contenuDocument",
              "displayName": "contenuDocument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -160,
        320
      ],
      "id": "18a6518b-4947-475a-a3af-0b8418334638",
      "name": "Call 'ClauseLens Sub Workflow'1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1alpha/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -560
      ],
      "id": "docling-http-request-001",
      "name": "Docling — PDF to Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "docling-text-field",
              "name": "text",
              "value": "={{ $json.document.md_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        -560
      ],
      "id": "docling-expose-text-001",
      "name": "Expose Markdown"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Docling — PDF to Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'ClauseLens Sub Workflow'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ClauseLens Sub Workflow'": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'ClauseLens Sub Workflow'1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling — PDF to Markdown": {
      "main": [
        [
          {
            "node": "Expose Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expose Markdown": {
      "main": [
        [
          {
            "node": "Call 'ClauseLens Sub Workflow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "592f66c5847207abda5a7374a69bd90a8011b8412dfd3af6df1130091d871d3b"
  }
}