n8n/workflows/clauselens-main.json
{
  "name": "ClauseLens Main",
  "nodes": [
    {
      "parameters": {
        "content": "### 📚 Workflow déclenché par la soumission d'un document pdf",
        "height": 508,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1552
      ],
      "typeVersion": 1,
      "id": "64894426-7039-4c23-b067-7be57779fbed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 📚 Workflow déclenché par la soumission d'un texte",
        "height": 508,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        2368
      ],
      "typeVersion": 1,
      "id": "1de19d79-b6f8-43bd-9dc0-242054a7567b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "93e40a8c-db67-4bd8-97e7-7bb197e2b38c",
      "name": "Lecture du pdf",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -688,
        1696
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0004-4000-8000-000000000004",
              "name": "contenuDocument",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7932b4e6-485a-4488-83a7-6ed3256da205",
      "name": "Extraction du texte",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        1696
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LosAyB10pTjm7Fwo",
          "mode": "list",
          "cachedResultUrl": "/workflow/LosAyB10pTjm7Fwo",
          "cachedResultName": "ClauseLens Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contenuDocument": "={{ $json.body.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contenuDocument",
              "displayName": "contenuDocument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -624,
        2576
      ],
      "id": "aae6eb2c-f040-4e90-8709-5a6127341c18",
      "name": "Appel du workflow pour le cas d'un texte"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LosAyB10pTjm7Fwo",
          "mode": "list",
          "cachedResultUrl": "/workflow/LosAyB10pTjm7Fwo",
          "cachedResultName": "ClauseLens Sub Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contenuDocument": "={{ $json.contenuDocument }}"
          },
          "matchingColumns": [
            "contenuDocument"
          ],
          "schema": [
            {
              "id": "contenuDocument",
              "displayName": "contenuDocument",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -176,
        1696
      ],
      "id": "7d156127-361c-45f2-8380-312b2675c642",
      "name": "Appel du workflow pour le cas d'un pdf"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        2576
      ],
      "id": "6d6c9538-eaa4-4cad-9e64-2c0a3e55800e",
      "name": "Réponse finale dans le cas d'un texte"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        1696
      ],
      "id": "8d903678-d1f3-4c42-9c04-8476729e274a",
      "name": "Réponse finale dans le cas d'un pdf"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clause-lens",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        2288
      ],
      "id": "709f35f1-6b0e-4d14-a179-b03ab22d39ef",
      "name": "Ecoute des demandes utilisateurs",
      "webhookId": "f766c9d8-f771-4517-b3b9-6ef6a9d7c44c"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.source }}",
                    "rightValue": "pdfFile",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "27eaa03d-c012-4e13-89f9-fce53fb16ade"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b463a684-b00c-4fde-8541-e5cd522c97c3",
                    "leftValue": "={{ $json.body.source }}",
                    "rightValue": "raw",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -960,
        2288
      ],
      "id": "8452081b-802b-42a0-bf41-5491bb2d865c",
      "name": "Routage en fonction du choix utilisateur"
    }
  ],
  "pinData": {},
  "connections": {
    "Lecture du pdf": {
      "main": [
        [
          {
            "node": "Extraction du texte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction du texte": {
      "main": [
        [
          {
            "node": "Appel du workflow pour le cas d'un pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel du workflow pour le cas d'un texte": {
      "main": [
        [
          {
            "node": "Réponse finale dans le cas d'un texte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appel du workflow pour le cas d'un pdf": {
      "main": [
        [
          {
            "node": "Réponse finale dans le cas d'un pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ecoute des demandes utilisateurs": {
      "main": [
        [
          {
            "node": "Routage en fonction du choix utilisateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routage en fonction du choix utilisateur": {
      "main": [
        [
          {
            "node": "Lecture du pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Appel du workflow pour le cas d'un texte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50900e7f-f34e-49e5-9667-a820ec93c66a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "592f66c5847207abda5a7374a69bd90a8011b8412dfd3af6df1130091d871d3b"
  },
  "id": "vslZY9ZAAe5v7VgU",
  "tags": []
}