n8n/workflows/clauselens-sub-workflow.json
{
  "name": "ClauseLens Sub Workflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "contenuDocument"
            }
          ]
        }
      },
      "id": "6d3bc52b-7c50-408c-90af-8a9301669cfd",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -4432,
        -96
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Document à analyser\n{{ $('When Executed by Another Workflow').item.json.contenuDocument }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -3840,
        -96
      ],
      "id": "8f8839fc-85b6-4920-8e18-6402dc38670c",
      "name": "Détection du type de document"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4200e08-bf35-4e75-b44a-369fc266d20f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Unknown",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3488,
        -96
      ],
      "id": "29c891a5-69dd-4247-8b03-43ada68564e5",
      "name": "If"
    },
    {
      "parameters": {
        "content": "### 📚 Phase de détection du type de document",
        "height": 588,
        "width": 684,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4208,
        -304
      ],
      "typeVersion": 1,
      "id": "5bd73638-86c6-4c8d-8d5c-846d5811074a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 📚 Extraction des clauses",
        "height": 476,
        "width": 476,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        16
      ],
      "typeVersion": 1,
      "id": "d7a21df5-4abd-4c28-9c35-b0260b13e38a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Contenu du document\n\n{{ $('When Executed by Another Workflow').item.json.contenuDocument }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}\n\nReturn raw Markdown only.\nDo not wrap the output in ```markdown fences.\nDo not return a code block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2752,
        64
      ],
      "id": "db5c189a-53e8-4e7e-a1ac-113ccb926cd2",
      "name": "Extraction des clauses"
    },
    {
      "parameters": {
        "promptName": "=DocumentDetection",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        -4096,
        -96
      ],
      "id": "3095a187-bd45-48a0-8d81-bf0238fc65bd",
      "name": "Prompt pour identifier le type de document",
      "credentials": {
        "langfuseApi": {
          "id": "EDxzRXT5DHm2xNyJ",
          "name": "Langfuse account"
        }
      }
    },
    {
      "parameters": {
        "promptName": "={{ $json.output }}",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        -3184,
        64
      ],
      "id": "f3210537-7a61-4096-a11a-cf87651a85be",
      "name": "Prompt pour identifier les clauses importantes",
      "credentials": {
        "langfuseApi": {
          "id": "EDxzRXT5DHm2xNyJ",
          "name": "Langfuse account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "output",
        "options": {
          "literalMidWordAsterisks": false,
          "smartIndentationFix": false
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -2400,
        64
      ],
      "id": "d6daa499-5fb0-4b5e-bdfc-a073b75cb22f",
      "name": "Transformation Markdown vers HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82743ef0-1ea2-4685-9939-adc2467f0eaf",
              "name": "output",
              "value": "<div class=\"unsupported-document\">\n  <h3>Type de document non pris en charge</h2>\n  <p>\n    Nous ne sommes pas en mesure d'analyser ce type de document pour le moment.\n  </p>\n  <p>Notre outil prend actuellement en charge les documents suivants :</p>\n  <ul>\n    <li>Conditions Générales de Vente <strong>(CGV)</strong></li>\n    <li>Conditions Générales d'Achat <strong>(CGA)</strong></li>\n    <li>Conditions Générales d'Abonnement <strong>(CGAbonnement)</strong></li>\n    <li>Conditions Générales d'Utilisation <strong>(CGU)</strong></li>\n    <li>Conditions Générales d'Assurance <strong>(CGAssurance)</strong></li>\n    <li>Conditions de Garantie <strong>(CGGarantie)</strong></li>\n    <li>Conditions Générales de Location <strong>(CGL)</strong></li>\n  </ul>\n</div>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        -256
      ],
      "id": "ff66f001-4015-4cd3-a73b-c2a0d8d6e024",
      "name": "Message en cas de type de conditions non gérés"
    },
    {
      "parameters": {
        "content": "### 📚 Retours en cas de documents non gérés",
        "height": 316,
        "width": 460,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -336
      ],
      "typeVersion": 1,
      "id": "b72c52d5-b83f-4f17-a39a-2f40c1436cb9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "mistral-small-2506",
          "mode": "list",
          "cachedResultName": "mistral-small-2506"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2832,
        352
      ],
      "id": "6fa94517-9abe-4b01-90fc-aa0c31dd2555",
      "name": "OpenAI Chat Model for extraction",
      "credentials": {
        "openAiApi": {
          "id": "9JAyG5SoX5XdeaZU",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "mistral-small-2506",
          "mode": "list",
          "cachedResultName": "mistral-small-2506"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3920,
        128
      ],
      "id": "e8c0a977-3b52-48a1-b56d-9a244c542b3c",
      "name": "OpenAI Chat Model for detection",
      "credentials": {
        "openAiApi": {
          "id": "9JAyG5SoX5XdeaZU",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "contenuDocument": "Conditions générales de vente\nL’utilisation des services de notre site, ainsi que toute commande, implique l’acceptation\npréalable, pleine et entière, des présentes conditions générales de ventes, dont vous\nreconnaissez avoir pris connaissance.\nArticle 1 - Préambule et définitions\nLes présentes conditions générales de vente détaillées ci-dessous (ci-après désignées les \"\nConditions Générales \"), régissent les relations contractuelles entre tout utilisateur du site Vente-\nunique.com désirant effectuer un achat auprès de Vente-unique.com via le site Internet ou par\ntéléphone (ci-après désigné \"le client\" ou \"Vous\") et la société Vente-unique.com, SA au capital\nde 97.800,29€ dont le siège est situé au 9 rue Jacquard 93310 le PRE SAINT GERVAIS et\nimmatriculée au registre du commerce et des sociétés de Bobigny sous le numéro B 484 922\n778 (ci-après désignée \"Vente-unique.com\").\nVente-unique.com a pour activité principale la vente de biens (soit par « vente flash », soit par «\nvente classique ») sur le site internet www.Vente-unique.com.\nToute utilisation des services du Site ou toute commande implique l’acceptation préalable,\npleine et entière des présentes Conditions Générales de Vente. Celles-ci ont notamment pour\nobjet de décrire les conditions d’achat, de commande, de paiement, de livraison des produits\nd’électroménager, image et son ainsi que les garanties légales attachées aux produits vendus\nsur le Site. Le client reconnaît en avoir pris connaissance.\nCes conditions générales de vente sont les seules applicables et remplacent toutes autres\nconditions, sauf accord contraire préalable, exprès et écrit.\nA tout moment, Vente-unique.com peut être amenée à modifier certaines des dispositions des\nprésentes conditions générales. En conséquence, il est nécessaire de prendre connaissance de la\nversion en vigueur, le jour de votre commande sur le site Vente-unique.com (ci-après désigné le\n\" Site \"). Ces modifications sont opposables au client à compter de leur mise en ligne et seront\nappliquées aux commandes postérieures à cette mise en ligne.\nChaque achat sur le Site est soumis à l’ensemble des clauses des conditions générales\napplicables à la date de la commande. Au moment de valider son paiement et en cliquant sur\n\"Terminer ma commande\", le client atteste avoir lu et accepté les conditions générales de vente\nde Vente-unique.com et les accepter sans réserve.\nEn validant les présentes conditions générales de vente lors de la commande, le client déclare\navoir la capacité juridique permettant la conclusion d’un contrat au sens des articles 1123 et\nsuivants du Code Civil.\n\nArticle 2 - Objet\nLes présentes conditions ont pour objet de définir le régime des ventes, les droits et obligations\nqui en découlent, notamment pour :\nl’organisation des relations juridiques entre Vente-unique.com et le client\nles modalités de vente entre Vente-unique.com et le client (commande, livraison etc..).\nArticle 3 - Procédure et modalité de commande\nPour passer sa commande, le client dispose des deux moyens :\nPar Internet sur notre site www.Vente-unique.com accessible 24h/24 et 7J/7\nEn contactant le Service Client via la page contact.\nLes données communiquées par le client et enregistrées par Vente-unique.com lors de\nl’inscription et de la commande constituent la preuve des transactions entre Vente-unique.com\net le client. Après validation de la commande par le client, Vente-unique.com adressera un mail\nde confirmation au client pour lui notifier que la commande a bien été enregistrée. Vente-\nunique.com se réserve le droit de refuser d’exécuter une livraison ou d’honorer une commande\ndans les cas où le client n’aurait pas réglé totalement ou en partie une précédente commande,\nou dans les cas où un litige de paiement subsisterait.\nArticle 4 - Prix\nLes prix indiqués sur le site Vente-unique.com sont exprimés toutes taxes comprises (TTC) hors\nfrais de livraison, à l’exception du revêtement de sol, où l’usage est de présenter les prix hors\ntaxes et comme il clairement précisé sur les fiches produits concernées. Les frais de livraison\ndiffèrent en fonction de l’adresse de livraison du client, du poids des marchandises commandées\net du niveau de service choisi par le client (point retrait, livraison en bas de chez soi, livraison\npremium dans la pièce de votre choix, etc). Les frais de livraison sont précisés dans le panier et\nconfirmés lors de la validation de la commande. Les frais de livraison sont facturés à la fin de la\ncommande et viennent s’ajouter au prix des marchandises commandées.\nTout changement du montant d’une taxe ou du montant de l’éco-participation pourra être\nrépercuté sur le prix des produits.\nVente-unique.com se réserve le droit de modifier ses prix à tout moment mais les produits\nseront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes\nsous réserve de disponibilité à cette date.\nArticle 5 - Réserve de propriété et risques\nVente-unique.com conserve la propriété des biens vendus jusqu'au paiement effectif de\nl'intégralité du prix en principal et accessoires. Le défaut de paiement de l'une des échéances\npourra entraîner la revendication des biens. Ces dispositions ne font pas obstacle au transfert au\nclient, dès la livraison, des risques de perte et de détérioration des biens achetés ainsi que des\ndommages qu'ils pourraient occasionner.\nArticle 6 – La disponibilité\nLe client prend acte et accepte d’ores et déjà que Vente-unique.com honorera sa commande\ndans la limite de ses stocks disponibles et de ceux de ses partenaires et fournisseurs. Vente-\n\nunique.com mettra tout en œuvre pour traiter toutes les commandes. Dans le cadre de la vente\nflash, les clients peuvent commander les produits mis en vente uniquement pendant la durée de\nla vente flash indiquée en temps réel sur le site www.Vente-unique.com et dans la limite des\nstocks disponibles. Après l’échéance du terme de la vente flash d’un produit et/ou en cas\nd’indisponibilité du produit, ce dernier ne sera plus offert à la vente. Pour une bonne information\ndu client, l’indisponibilité du produit pourra, le cas échéant, être visible sur le site Vente-\nunique.com. En cas d’indisponibilité d’un produit après confirmation de la commande et après\nfermeture de la vente concernée, Vente-unique.com informera le client par e-mail ou par\ntéléphone de la livraison partielle de sa commande ou de l’annulation de celle-ci. Le cas\néchéant, afin de satisfaire ses clients et dans un effort de relation commerciale satisfaisante et\nsereine, Vente-unique.com proposera au client, le remboursement des sommes effectivement\ndébitées sous forme d’un bon d’achat ou par virement ou par chèque.\nArticle 7 – Informations produits\nVente-unique.com précise avec la plus grande rigueur, les informations mises en ligne et\nconcernant les caractéristiques essentielles des produits grâce notamment aux descriptifs\ntechniques des partenaires et fournisseurs et de photographies et/ou vidéos des produits et ce,\ndans la limite de la technique et dans le respect des meilleurs standards du marché.\nArticle 8 – Paiement sécurisé\nEn cas de règlement par carte de paiement, la commande du client ne sera validée qu’après\ndébit du compte effectué sur autorisation des centres de paiement compétents. En cas de défaut\nd’autorisation, la commande du client ne pourra pas être prise en compte. Le paiement en ligne\npar carte de paiement est réalisé via le système de sécurité \" Secure Socket Layer \" qui permet\nle cryptage des coordonnées bancaires du client lors de leur transmission sur le réseau.\nPaiement de la commande du client en 3 ou 4 fois avec Oney :\nPaiement avec financement Cafineo partenaire financier de Vente-unique.\nUn crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant\nde vous engager.\nCette solution de paiement permet d’obtenir :\nUn financement en 5, 10, 12 fois pour tout achat de 300€ à 500€.\nUn financement en 10, 12, 24 ou 36 fois pour tout achat de 501 € à 1 000€\nUn financement en 12, 24 ou 36 fois pour tout achat de 1 001 € à 3 000€\nUn financement en 24, 36, 48 ou 60 fois pour tout achat de 3001 € à 10 000 €.\nPar exemple, pour un crédit affecté à un achat moyen de 1000€, vous empruntez 1000€ sur 24\nmois au taux annuel effectif global fixe de 17,95% (taux débiteur annuel fixe de 16,62%), hors\nassurances facultatives, et vous remboursez 24 mensualités de 49,26€. Montant total dû :\n1182,24€.\nLe coût mensuel de l’assurance facultative (Décès, Perte Totale et Irréversible d’Autonomie,\nMaladie-Accident), souscrite auprès de Cardif Assurance Vie et Cardif Assurances Risques Divers,\nest de 1,83 € et s’ajoute au montant de la mensualité de l’exemple ci-dessus. Le coût total de\n\ncette assurance facultative sera de 47,52€ pour 1 000 € empruntés. Le taux annuel effectif de\ncette assurance sera de 4,47%.\nSous réserve d’étude et d’acceptation du dossier par Cafineo, société de financement, SA au\ncapital de 8 295 000 € Siège social : Immeuble Le Sémaphore - rue René Rabat ZAC de\nHouëlbourg Sud II Z.I. de Jarry 97122 Baie-Mahault Cedex. RCS Pointe à Pitre n°501 103\n337.N°Orias 08 042 946 (www.orias.fr) . Vous disposez d’un droit de rétractation.\nPaiement avec la solution Alma :\nLe service de crédit d'Alma est proposé pour le règlement des achats et l'exécution du paiement,\nsous réserve que la personne achetant le bien ou service à travers Alma (« Acheteur ») accepte\nle contrat de paiement en plusieurs fois ou de paiement différé.\nDes frais pourront être facturés par Alma.\nTout refus d'octroi du paiement en plusieurs fois ou du paiement différé par Alma pourra\nentraîner la caducité du contrat d'achat du bien ou service (« CGV »), sauf si l'Acheteur accepte\nde payer comptant le montant de l'achat.\nEn cas de résiliation des CGV, le contrat de paiement en plusieurs fois ou de paiement différé\nsera résilié de plein droit. En cas de rétractation de la solution de paiement en plusieurs fois ou\nde paiement différé utilisée pour votre paiement, les CGV seront résiliées de plein droit, sauf si\nvous réglez comptant le montant de votre achat par l'intermédiaire d'Alma. Si le produit vous a\nd'ores et déjà été expédié, vous devrez le retourner dans le délai maximum prévu aux présentes\nCGV.\nPour les paiements en 5 fois ou plus conformément à l'Article L312-45, le montant est en partie\npayé par un crédit octroyé par Alma SAS, établissement de paiement et société de financement\nagréé par l'ACPR sous le n° 17408 - code CIB.\nConformément à l'article L.312-50 du Code de la consommation, en cas de paiement en\nplusieurs fois, incluant le versement d'un acompte, est fourni à l'acheteur un récépissé sur\nsupport papier ou tout autre support durable valant reçu et comportant la reproduction intégrale\ndes dispositions ci-dessous (articles L. 312-52, L. 312-53 et L. 341-10 du code de la\nconsommation) :\nArticle L312-52 : Le contrat de vente ou de prestation de services est résolu de plein droit,\nsans indemnité :\n1° Si le prêteur n'a pas, dans un délai de sept jours à compter de l'acceptation du contrat\nde crédit par l'emprunteur, informé le vendeur de l'attribution du crédit ;\n2° Ou si l'emprunteur a exercé son droit de rétractation dans le délai prévu à l'article L.\n312-19.\nToutefois, lorsque l'emprunteur, par une demande expresse, sollicite la livraison ou la fourniture\nimmédiate du bien ou de la prestation de services, la résolution du contrat de vente ou de\nprestation de services, par l'effet de l'exercice du droit de rétractation dont il dispose en vertu\nde l'article L. 312-19, n'intervient qu'après remboursement par le vendeur ou le prestataire de\nservices du capital engagé par le prêteur, dans un délai de trente jours à compter de la\nnotification de la rétractation par l'emprunteur.\nArticle L312-53 : En cas de contestation sur l'exécution du contrat principal, l'emprunteur peut,\naprès avoir mis en demeure le vendeur ou le prestataire de services, suspendre le paiement du\ncrédit. L'emprunteur est tenu de rembourser au prêteur les sommes que celui-ci aura avancées\n\nau vendeur au titre des frais de retour, de remise en état ou de reprise consécutifs à la\nrésolution ou à l'annulation du contrat principal.\nArticle L341-10 : Lorsque le consommateur exerce son droit de rétractation relatif à un contrat\nde crédit affecté, il n'est plus tenu par le contrat principal.\nUN CRÉDIT VOUS ENGAGE ET DOIT ÊTRE REMBOURSÉ. VÉRIFIEZ VOS CAPACITÉS DE\nREMBOURSEMENT AVANT DE VOUS ENGAGER.\nArticle 9 - \"Site Evalué \" (Trustpilot)\nTout achat réalisé sur Vente-unique.com offre au client la possibilité de participer à l'évaluation\ndu site via Trustpilot.\nA travers un questionnaire de satisfaction dont l'objet est de mesurer la qualité de service qui a\nété apporté tout au long de la procédure d'achat, le client pourra faire part de son expérience\npersonnelle et la faire partager à la communauté des internautes sur le site Truspilot.\nCe questionnaire sera envoyé au client par Vente-unique.com par courrier électronique.\nLes informations récoltées au sein du questionnaire font l'objet d'un traitement automatisé de\ndonnées dont le responsable est Truspilot.\nDes réponses partielles ou une absence de réponse au questionnaire de satisfaction n’ont\naucune incidence sur le déroulement de la commande et son traitement.\nTruspilot et Vente-unique.com sont les destinataires des données nominatives récoltées au sein\ndu questionnaire de satisfaction.\nLes données non nominatives seront exploitées par Truspilot conformément à la réglementation\nen vigueur et notamment à celle ayant trait à la protection des données personnelles.\nConformément à la loi Informatique et Libertés du 6 janvier 1978 vous disposez, à tout moment,\nd'un droit d'accès, de rectification, et d'opposition à l'ensemble de vos données personnelles\ncomme suit :\nTrustpilot : par formulaire de contact https://fr.legal.trustpilot.com/contact\nArticle 10 - Modalités de Livraison\nLes produits achetés sur le site Vente-unique.com font l’objet d’une livraison par transporteur. Le\nprix de la livraison est calculé en fonction du nombre d’articles, de leur poids, de leur volume, du\ntype de prestation choisi et du lieu de résidence du client. Le montant total de la prestation de\nlivraison sera affiché dans le panier au moment de la commande, avant validation du paiement.\nLa livraison est réalisée soit « en pas de porte », soit au domicile du client.\nLe mode de livraison dépend du type de produit commandé : il est précisé sur chaque page de\nprésentation du produit, et est rappelé dans le mail de confirmation de commande.\nPour les lits escamotables, une prestation optionnelle de montage + installation (fixation à un\nsupport vertical fixe) est proposée par Vente-unique.com. En ce cas, des frais de\nmontage/installation seront facturés au Client lors de la commande en sus du prix de vente et\ndes frais de livraison des produits. Ces frais d’installation sont calculés en fonction du nombre\n\nd’articles, de leur poids, de leur type et du temps de montage/installation préconisé par le\nfabricant. Lesdits frais de montage/installation sont indiqués dans le panier du Client lorsque\ncelui–ci clique sur la case dédiée à cet effet. Pour les clients résidants en région Paris - Île de\nFrance ou sur plusieurs autres départements limitrophes, c’est le même prestataire qui assure\nles livraison + montage + installation (cf. liste des départements concernés). Pour les autres\ndépartements (France Métropolitaine uniquement et Corse), une livraison devra être\nprogrammée par le Client avec le transporteur au moins 48h avant le passage de l’équipe de\nmontage/installation, avec laquelle le Client aura également fixé une date de rendez-vous. Tous\nles détails sont communiqués au client de manière claire sur la fiche des produits concernés,\ndans le panier, et dans l’email de confirmation de commande.\nSi le client ne choisit pas l’option montage + installation proposée, Vente-unique.com ne\nsaurait être tenue responsable de quelque incident lié au non respect des consignes suivantes :\n- seule une personne qualifiée doit procéder à l'installation et au réglage ultérieur éventuel.\n- pour éviter tout risque de basculement, ce meuble doit obligatoirement être fixé à un support\nfixe à l’aide des équerres fournies.\n- Les lits sont livrés avec des chevilles pour murs pleins. Pour les autres supports (mur creux,\nplaques de plâtre, bois...), utiliser un ensemble cheville/vis adapté\n- le support d'installation doit être parfaitement sain et capable de supporter ce type d'article.\nL'avis d'une personne qualifiée est recommandé\nLe client peut choisir pour certains produits leur retrait direct soit dans une des 37 agences\nrégionales soit dans un des 2 000 Points Retrait\n® \nMondial Relay.\nLes délais indiqués lors de la validation de la commande sont calculés en jours ouvrés (du lundi\nau vendredi, hors jours fériés).\nLes bons réflexes à adopter lors de la livraison :\nEn présence du transporteur :\nContrôler le nombre de colis\nL'état apparent des colis\nL'état des produits à l'intérieur des colis\nLa bonne conformité des produits par rapport au bon de livraison d'une part et à la\nmarchandise commandée d'autre part\nLa réalisation de l'ensemble des prestations auxquelles vous avez souscrit lors de la\nvalidation de la commande.\nSi la remise est conforme :\nMentionner sur le bon de livraison le bon état de l'emballage et des produits\nDater, indiquer clairement votre nom en majuscules et signer le bon de livraison.\nSi la remise est non conforme\nMentionner sur le bon de livraison le problème rencontré : Prestation non réalisée,\nemballage abîmé, produit abîmé après déballage, produit incomplet ...\nEn cas de refus de la marchandise, merci d’en indiquer clairement le ou les motifs\nA la moindre interrogation, le client peut suivre l’évolution de sa commande et/ou contacter le\nservice clients de Vente-unique.com au numéro affiché dans son espace personnel via le lien\nwww.vente-unique.com/secure/account, et en sélectionnant la rubrique “Mon Service Clientèle”\nfigurant dans chacune de ses commandes.\n\nLes Retraits Directs en agence régionale :\nPour les agences régionales VIR, un rendez-vous est pris téléphoniquement pour convenir du\npassage du client au dépôt et du retrait du produit. Pour les agences régionales Mondial Relay,\nune notification (e-mail, sms ou message vocal) est envoyée au client dès l’arrivée de son colis.\nLorsque le client se présente au dépôt pour y retirer sa marchandise, il doit se munir de sa carte\nd’identité, de sa facture et de son mail de confirmation de commande.\nLors du retrait, les produits seront mis à disposition du client. Le client doit prendre ses\ndispositions afin de charger son véhicule par ses propres moyens.\nLes horaires d’ouverture peuvent varier d’un dépôt à l’autre. Le client doit prendre connaissance\ndes horaires indiqués sur la carte lors du choix de son agence régionale.\nLes Points Relais\n® \nMondial Relay :\nUne notification (e-mail, sms ou message vocal) est envoyée au client dès l’arrivée de son colis.\nLorsque le client se présente pour retirer sa marchandise, il doit se munir de sa carte d’identité,\nimpératif pour le retrait de votre colis (2 pièces d’identité pour le retrait du colis pour un Tiers).\nLes colis sont conservés 8 jours dans le Point Relais\n®\n.\nLa livraison par La Poste :\nPour les produits concernés, nous ne livrons qu'en France métropolitaine et Corse. Si le client\nn'est pas présent lors de la livraison, un avis de passage est déposé dans sa boîte aux lettres. Il\ndevra alors aller retirer sa commande dans le bureau de Poste indiqué dans un délai de 10 jours\nouvrés suivant le dépôt de l'avis de passage. Au-delà de 10 jours ouvrés, la commande sera\nréexpédiée d'office à Vente-unique.com\nLa livraison en pas de porte (sauf produits encombrants) :\nLa livraison en pas de porte est réalisée au hayon du camion. Le client doit assurer le transport\ndes produits jusqu'à la pièce d'utilisation.\nLes transporteurs se présentent une première fois chez le client sans rendez-vous. En cas\nd'absence, le transporteur laisse un avis de passage dans la boite aux lettres avec les\ncoordonnées de l’agence à contacter pour la prise de rendez-vous. Le client doit contacter le\ntransporteur au numéro indiqué sur l'avis de passage afin de planifier un créneau d'une demi-\njournée pour la livraison. Cette deuxième présentation est gratuite, en cas d'absence du client\nau rendez-vous convenu, une nouvelle livraison sera facturée au client.\nLa livraison en pas de porte « spécial encombrants »\nPour les produits assignés à la livraison « spécial encombrants », la livraison est réalisée en\nlimite extérieure de propriété. Ces produits étant très volumineux, ils nécessitent un transport à\nl’aide d’un semi remorque. Avant de valider sa commande, le client doit prendre en compte\ncette caractéristique et s’assurer que la rue est assez large pour le passage d’un tel camion. Le\nclient devra prendre ses dispositions afin de transporter le produit dans sa propriété. Un rendez-\nvous est pris par SMS, téléphone ou email par le transporteur.\nLe client doit confirmer la date de rendez vous soit par téléphone soit directement sur Internet à\nl’adresse indiquée par le transporteur.\n\nLa livraison à domicile :\nLa livraison à domicile réalise le dépôt des produits commandés dans le domicile, avec déballage\npour les produits canapés hors clic-clac et canapés d’extérieur. Le client reçoit une invitation\nélectronique à fixer une date de rendez-vous de livraison sur le site du transporteur. Ce dernier\ncommuniquera au client la veille du jour choisi un créneau horaire de 2 heures.\nLe client devra expressément signaler au service clients de Vente-unique.com toutes difficultés\nd'accès ou de passage que les livreurs pourraient rencontrer. Le client devra mesurer les\npassages d'accès de son domicile afin de confirmer au transporteur son accessibilité au produit\ncommandé.\nEn cas de déballage du produit à la demande du client pour des raisons d'inaccessibilité (si le\ncolis \"ne passe pas\" dans les portes, ascenseurs, escaliers, etc.), Vente-unique.com se dégage\nde toute responsabilité quant aux éventuels dommages occasionnés au produit ou au domicile\nlors de la manutention de l'article déballé.\nLe client s'engage à être présent le jour de la livraison convenu avec le livreur et à vérifier la\nconformité de la commande à sa réception. En cas d'impossibilité de livraison le jour du rendez\nvous du fait de difficultés d'accès, de passages non signalés au préalable ou en cas d'absence du\nclient au rendez vous convenu avec le transporteur, des frais supplémentaires pourront être\nfacturés par Vente-unique.com.\nEn cas d’impossibilité de livraison le jour du rendez vous du fait de difficultés d’accès, de\npassages non signalés au préalable ou en cas d’absence du client au rendez vous convenu avec\nle transporteur, des frais supplémentaires pourront être facturés par Vente-unique.com. Ces frais\nsupplémentaires seront calculés en fonction du nombre d’articles, de leur poids et de leur\nvolume. Le service clients informera le client du montant desdits frais supplémentaires avant\nune nouvelle livraison.\nEn cas de fausses informations, ou prises de mesures erronées effectuées par le client, les frais\nsupplémentaires liés à la location d’élévateurs, de stockage, de retour de marchandises seront\nexclusivement à la charge du client.\nTous les frais supplémentaires liés à la location d’élévateurs, stockages ou liés à l’absence du\nclient (en violation des engagements pris lors du rendez-vous) et risques de dommages résultant\nde ces contraintes seront à la charge du client. Une prestation de livraison par nacelle par la\nfenêtre pourra être étudiée. Cette prestation entraînera un surcoût qui sera refacturé au client; à\nsa demande, un devis pourra être réalisé.\nPour l'électroménager, aucune mise en service ne sera réalisée.\nEn signant le bon de livraison sans y mentionner de réserves précises, le client atteste que les\narticles ont été livrés, et que la livraison et la mise en place ont été faites conformément aux\nconditions de vente de l’expéditeur. Il appartient au client de vérifier les colis livrés et d'en\nsignaler tout défaut ou manque dans un délai raisonnable. Tout défaut de conformité devra être\nsignalé par le client dans les délais permis par la loi, conformément aux dispositions relatives à\nla garantie légale de conformité.\nL’expédition des produits hormis les \"spécial encombrants\" ne pourra s’effectuer que sur le\n\nterritoire Français métropolitain et Monaco.\nNous pouvons également vous proposer une livraison à domicile dans les lieux indiqués ci-\ndessous, mais ils entraînent un surcoût :\nà Monaco,\nDimensions ‹ 2m, frais supplémentaires de 165 € TTC\n2m ‹ Dimensions ‹ 3m, frais supplémentaires de 325 € TTC\n3m ‹ Dimensions ‹ 5m, frais supplémentaires de 360 € TTC\nen Corse, frais supplémentaires de 598 € TTC\nTout changement d’adresse ou de dépôt par le client fera l'objet d'une étude de faisabilité et\npourra être soumis à des frais supplémentaires qui lui seront indiqués par notre service client.\nArticle 11 - Satisfait ou remboursé\nAnnulation de commande\n1- Produit livré : Modalité d’exercice du droit de rétractation\nLe client bénéficie d'un délai de 30 jours francs à compter de la réception de sa commande pour\nexercer son droit de rétractation, soit 16 jours supplémentaires par rapport au délai légal de\nrétractation de 14 jours institué par l'article L.221-18 du Code de la consommation. Ce délai est\nvalable pour l'ensemble des produits vendus par Vente-unique.com sur le site.\nConformément aux dispositions de l’article L221-28 du Code de la consommation, l’offre «\nSatisfait ou remboursé » ne peut, en revanche, être exercée par le Client dès lors qu’est,\nnotamment, en cause :\nLa fourniture de produits (portails…) confectionnés selon les spécifications du Client ou\nnettement personnalisés ;\nLa fourniture de produits dont le prix dépend de fluctuations sur le marché financier\néchappant au contrôle de Vente-unique.com et susceptibles de se produire pendant le\ndélai de rétractation ;\nLa fourniture de produits qui ont été descellés par le Client après la livraison et qui ne\npeuvent être renvoyés pour des raisons d’hygiène ou de protection de la santé ;\nLa fourniture de produits qui, après avoir été livrés et de par leur nature, sont mélangés\nde manière indissociable avec d’autres articles.\nToutefois, pour les articles pour lesquels une prestation de montage et/ou d’installation\n(optionnelle et non obligatoire) est proposée (meubles, lits escamotables…), l’acceptation par le\nclient du démarrage de ladite prestation à son domicile avant l’expiration du délai de\nrétractation emporte renonciation expresse de sa part à son droit de rétractation.\nProcédure de retour des produits:\nLe client devra informer Vente-unique.com dans les 30 jours de la réception de sa commande de\nsa volonté de se rétracter par l'un des moyens suivants:\ndepuis son espace client, en sélectionnant le produit à annuler dans la commande\nconcernée\n\nen contactant le Service Client via la page contact.\npar écrit à l'adresse suivante : Vente-unique.com - Service Clientèle - 9/11 rue jacquard -\n93310 Le PRE-SAINT-GERVAIS\nLe Service Clientèle informera le client des différents moyens de retour de son article. Si le client\nn'est pas en mesure de renvoyer son produit par ses propres moyens, un service de reprise du\nproduit pourra lui être proposé. Le tarif de la reprise sera établi en fonction de l'adresse de\nlivraison du client et du poids des marchandises retournées.\nLe client est tenu des risques du transport lors du retour des produits.\nLe client devra renvoyer à ses frais son produit en parfait état et de préférence dans son\nemballage d'origine directement à l'adresse suivante en joignant une copie de sa facture à des\nfins d’identification de sa commande :\nVENTE UNIQUE.COM\nSERVICE RETOURS PRODUITS\nEntrepôt CAFOM\nAv. de Bruxelles\n60110 AMBLAINVILLE\nLes retours seront acceptés par Vente-unique.com seulement si la procédure décrite au présent\narticle est respectée. La responsabilité du client pourra être engagée en cas de détérioration du\nproduit ou de dépréciation de celui-ci résultant de manipulations autres que celles nécessaires\npour établir la nature, les caractéristiques et le bon fonctionnement du produit.\nLe Produit objet de la rétractation ne devra pas présenter de traces d'usure ou de dégâts\ndémontrant une utilisation ayant dépassé son simple essai. Dès lors, en cas d'usage dépassant\nle simple essai du produit acheté ou de manipulations autres que celles permettant d'établir la\nnature, les caractéristiques et le bon fonctionnement du produit (ex : d'une découpe), Vente-\nunique.com pourra engager la responsabilité du Client, par application de l'article L. 221-23 du\nCode de la consommation, notamment par une diminution du montant pouvant aller jusqu'à la\ntotalité du prix du produit, lorsque celui-ci est devenu impropre à la revente.\nSi le client n'est pas en mesure de renvoyer son produit par ses propres moyens, un service de\nreprise du produit pourra lui être proposé. Le tarif de la reprise sera établi en fonction de\nl'adresse de livraison du client et du poids des marchandises retournées.\nPour les articles pour lesquels une prestation de montage et/ou d’installation (optionnelle et non\nobligatoire) est proposée (meubles, lits escamotables…), l’acceptation par le client du\ndémarrage de ladite prestation à son domicile avant l’expiration du délai de rétractation\nemporte renonciation expresse de sa part à son droit de rétractation.\n2. Produits non livrés et en cours d’acheminement\nLe client est informé par email quand son produit est remis au transporteur et quitte notre\nentrepôt. Le suivi de livraison dans son espace client passe alors à “Prise en charge du colis par\nle transporteur”. Dès lors que le client a été averti de l’expédition de son produit et qu’il\nsouhaite annuler sa commande, des frais de retour lui seront facturés à hauteur de 0,50€ par\nkilo transporté ou, pour les produits de type “encombrants”, à hauteur de la totalité des frais de\nlivraison. Le montant sera notifié par écrit au client au moment de la prise en charge de\nl’annulation par vente- unique.com. Il sera demandé au client de confirmer via son espace client\nqu’il a bien pris connaissance du montant qui sera déduit du remboursement.\n\n3. Remboursement\nLe remboursement interviendra dans un délai maximum de 14 jours à compter de la demande\nd’annulation de commande. Le remboursement pourra être différé jusqu'à la récupération des\nbiens, ou la réception d'une preuve de leur réexpédition par le client. Seuls seront acceptés les\nproduits à l'état neuf et complets (accessoires, coussins, notices le cas échéant,...). Tout produit\nqui aura été abîmé ou dont l'emballage d'origine aura été détérioré dans des conditions\nexcédant sa simple ouverture, ne sera pas remboursé ou le sera partiellement. Le\nremboursement se fera selon le mode de paiement utilisé par le client lors de l’achat Vente-\nunique.com conseille de souscrire une assurance spécifique auprès du transporteur de la valeur\nmarchande des produits si il choisi son propre moyen de retour. Elle est nécessaire pour que le\nclient puisse se prémunir contre tout cas de détérioration, de spoliation ou de perte des produits\npar le transporteur. Dans tous les cas, le retour est aux frais, à la charge et aux risques du client.\nArticle 12 - Charte Ethique et réciprocité\nVente-unique.com assure à ses clients par les présentes conditions générales que les produits\nmis en vente en ligne sur le site respectent la réglementation française en vigueur au jour de la\ncommande. Au surplus, Vente-unique.com garantit que le contenu du site ne porte pas atteinte\naux bonnes moeurs.\nVente-unique.com est enregistrée au registre des metteurs sur le marché :\nD’éléments d’ameublement sous le numéro FR005847_10NG0A (Eco-Maison)\nD’équipements électriques et électroniques sous le numéro FR005847_05LO2X (Ecologic)\nDe jouets sous le numéro FR213849_12DXSQ (Eco-Maison)\nD’articles de bricolage et de jardin sou le numéro FR213849_14DVDY (Eco-Maison)\nDe produits et matériaux de construction du secteur du bâtiment sous le numéro\nFR213849_ 040QDE (Eco-Maison)\nD’emballages ménagers sous le numéro FR213849_01XNET (Citéo)\nDes produits textiles, linge de maison sous le numéro FR213849_11TMAT (Re_fashion)\nD’articles de sport et de loisirs sous le numéro FR213849_13WTBT (Ecologic)\nCes numéros garantissent que Vente-unique.com est en conformité avec les obligations\nréglementaires qui lui incombent en application de l’article L 541-10 du Code de\nl’environnement.\nArticle 13 - La garantie\nAprès règlement complet de sa commande, le client bénéficie de la garantie légale de\nconformité ainsi que de la garantie contre les vices cachés conformément aux dispositions\nlégales en vigueur des articles L.217-4 et suivants à L.217-14 du code de la consommation et\ndes articles 1641 à 1649 du code civil. La garantie légale de conformité s’applique sous réserve\nque les défauts invoqués soient signalés à Vente-unique.com dès leur apparition, par l'envoi de\nphotographies. Cette garantie s’applique aux biens neufs pour un délai de vingt-quatre mois à\ncompter de la délivrance du bien. L'action résultant d’un défaut de conformité se prescrit par\ndeux ans à compter de la délivrance du bien (Art. L.217-7 du Code de la consommation).\nVente-unique.com est tenu de la garantie à raison des défauts cachés de la chose vendue qui la\nrendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que\nl'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus\n(Art. 1641 du Code Civil). L'action résultant des vices rédhibitoires doit être intentée par\nl'acquéreur dans un délai de deux ans à compter de la découverte du vice (Art. 1648 du Code\nCivil).\n\n13.1 Garantie légale de conformité\nLe client bénéficie d’une présomption de non-conformité de deux (2) ans à partir de la\ndélivrance du produit (date de livraison ou date d’enlèvement du produit selon l’option\nsélectionnée par le client), sauf preuve contraire apportée par Vente-unique.com.\nAinsi, pendant cette période de deux ans, le défaut de conformité est supposé exister au\nmoment de la délivrance du produit, de sorte que le client n’aura pas à prouver que le défaut\nexistait au moment de la vente. Il est précisé que Vente-unique.com pourra rapporter la preuve\nque le défaut mentionné n’est pas antérieur à la vente. Passé ce délai de deux ans, le client\ndevra prouver que le défaut existait au moment de la délivrance du produit.\nConformément aux dispositions en vigueur aux articles L.217-9 et L.217-10 du Code de la\nconsommation, le Client a le choix entre la réparation et le remplacement du produit. En cas\nd’impossibilité ou de coût manifestement disproportionné compte tenu de la solution choisie par\nle client (du fait de la valeur des produits ou de l’importance du défaut), Vente-unique.com ne\nsera pas tenue de procéder selon la modalité choisie par le client. L’échange ou la reprise du\nproduit pourra être décidée par vente-unique en application des dispositions susmentionnées.\nAinsi, si la réparation du produit est impossible, qu’il s’agisse d’une impossibilité technique (ex:\npièce non disponible), et/ou d’une impossibilité économique (coût de la réparation supérieur à la\nvaleur vénale résiduelle du produit), Vente-unique.com s’engage à proposer au client le\nremplacement du produit à l’identique ou par un produit de caractéristiques équivalentes.\nToutefois, le client ne peut rendre le produit et se faire restituer le prix ou garder le produit et se\nfaire rembourser une partie du prix que lorsque sont remplies les conditions prévues à l’article\nL.217-14 du Code de la consommation, c’est-à-dire si :\nLorsque le professionnel refuse toute mise en conformité\nLorsque la mise en conformité intervient au-delà d’un délai de trente jours suivante la\ndemande du consommateur si elle lui occasionne un inconvénient majeur\nSi le consommateur supporte définitivement les frais de reprise ou d’enlèvement du bien\nnon conforme ou s’il supporte l’installation du bien réparé ou de remplacement ou les\nfrais y afférents\nLorsque la non-conformité du bien persiste en dépit de la tentative de mise en\nconformité du vendeur restée infructueuse.\nLorsque le défaut de conformité est si grave qu’il justifie que la réduction du prix ou la\nrésolution du contrat soit immédiate.\nLa résolution de la vente ne peut toutefois être prononcée si le défaut de conformité est mineur.\nLorsqu’il agit en garantie légale de conformité, le client:\nbénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir\nest dispensé de rapporter la preuve de l’existence du défaut de conformité du bien\npendant les vingt-quatre mois qui suivent la délivrance du bien et pendant douze mois\npour les biens d’occasion\npeut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions\nde coût prévues par l’article L.217-12 du Code de la consommation\nLa garantie légale de conformité s’applique indépendamment toute garantie commerciale\ncontractée par le client.\nLe client peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose\nvendue au sens de l’article 1641 du Code civil et peut choisir entre la résolution de la vente ou\n\nune réduction du prix de vente conformément à l’article 1644 du Code civil\nTout produit réparé dans le cadre de la garantie légale de conformité bénéficie d’une extension\nde ladite garantie de 6 mois.\nDès lors que le client fait le choix de la réparation mais que celle-ci n’est pas mise en œuvre par\nvente-unique à l’expiration du délai d’un mois suivant la réclamation du client, soit avant ce\ndélai d’un mois lorsque la décision de non-réparation résulte d’une décision prise par Vente-\nunique.com, le client peut demander le remplacement du produit qui s’accompagne dans ce cas\nd’un renouvellement de la garantie légale de conformité.\nCes dispositions s’appliquent sans préjudice pour le client de demander des dommages et\nintérêts conformément à l’article L.217-8 du Code de la consommation.\n13.2 Garantie des vices cachés\nLe client dispose également de la garantie légale des vices cachés (articles 1641 à 1649 du Code\ncivil), à raison des défauts cachés de la chose vendue qui la rendent impropre à l’usage auquel\nelle est destinée, ou qui diminuent tellement cet usage que l’acheteur ne l’aurait pas acquise ou\nn’en aurait donné qu’un moindre prix s’il les avait connus.\nConformément à l’article 1644 du Code civil, le client peut choisir entre la résolution de la vente\n(et la restitution du prix) ou garder la marchandise et bénéficier d’une réduction du prix de\nvente.\nVente-unique.com pourra proposer au client le remplacement des produits.\nToute action doit être introduite par le client dans un délai de deux ans à compter de la\ndécouverte du vice.\nLorsqu’il agit en garantie des vices cachés, le client:\ndoit agir dans les deux ans à partir de la découverte du vice caché\ndoit prouver l’existence du vice caché\npeut choisir entre la restitution du produit et le remboursement du prix payé ou garder le\nproduit et demander une réduction du prix\nLa garantie des vices cachés s’applique indépendamment de toute garantie commerciale\ncontractée par le client.\n13.3 Modalités de mise en œuvre des garanties légales\nLa mise en jeu de la garantie suppose, au préalable, que les conditions suivantes soient réunies :\n1. Nos spécialistes confirment que le produit retourné est bien conforme au produit qui\nvous a été envoyé, sans dommage, modification, ni intervention d’aucune sorte\n2. Le défaut dont le client se prévaut ne résulte pas :\n- d'une utilisation anormale ou non conforme\n- d'une usure ou d'un vieillissement normal\n- d'un événement accidentel ou, plus généralement, d'une cause externe (telle que\nl’intervention de tout tiers non autorisé sur le produit ou défaut lié à une utilisation\nanormale ou non conforme de votre produit)\nSont exclus de la garantie :\n\nLes dommages ayant pour origine une cause externe à l'appareil (choc, chute, mauvaise\nutilisation, erreur de manipulation, etc.), chaleur anormale, humidité (rouille, salinité,\ncondensation, oxydation ...), interférences radioélectriques\nPour les articles pour lesquels une prestation de montage est proposée, la garantie\n(constructeur) pour défaut de montage ou d’installation ne pourra pas être invoquée\ndans les cas d’un montage effectué par tous tiers n’appartenant pas au service de\nmontage professionnel conseillé par Vente-unique.com.\nLes dommages consécutifs à un non-respect des instructions de montage ou à une\ninstallation non conforme aux instructions du constructeur, à une mauvaise qualité de\nl'alimentation de l'appareil (tension électrique défectueuse, erreur de voltage, gaz non\nconforme, vidange, pression d’eau élevée, nettoyage de filtre...), au défaut de ventilation\n(bouchage des ouvertures de ventilation ou espace nécessaire à la ventilation\ninsuffisant), à un défaut d'entretien, à l'intrusion d'insectes, à l'utilisation de logiciels\nacquis par des moyens illégaux (copie) ou à la présence de virus informatique, à une\nmodifications de programmes, au paramétrage de données ou de défauts de logiciels\nLes télécommandes à distance, les éléments ou accessoires dont le renouvellement\nrégulier est nécessaire (piles, batteries, filtres, lampes, etc.)\nLe remplacement des fusibles, lampes d'éclairage de réfrigérateur, de congélateur, et les\ncâbles de liaison entre les appareils hi-fi, TV, etc\nLes dommages survenant lors du transport ou déménagement de l'appareil effectués par\nle client ou l'un de ses représentants sous sa responsabilité\nL'usage professionnel (collectivités, restaurants, laveries...) et, d'une façon générale,\ntoute activité de nature non domestique.\nLes dysfonctionnements ou défauts de conformité consécutifs à la non-installation d’une\nmise à jour par le client.\nEn cas de défaut de conformité, conformément aux dispositions en vigueur aux articles L.217-9 à\nL.217-11 du code de la consommation, le client choisit entre la réparation et le remplacement du\nbien. En cas d’impossibilité ou de coût manifestement disproportionné compte tenu de la valeur\ndu bien ou de l’importance du défaut, Vente-unique.com n’est pas tenue de procéder selon la\nmodalité choisie par le client. L’échange/reprise d’un article pourra être statué par les\ntechniciens SAV de Vente-unique.com conformément aux dispositions légales applicables.\nLe client ne peut rendre le produit et se faire restituer le prix ou garder le produit et se faire\nrembourser une partie du produit que lorsque sont remplies les conditions prévues à l’article\nL.217-10 du code de la consommation :\n« Si la solution demandée, proposée ou convenue en application de l'article L. 217-9 ne\npeut être mise en œuvre dans le délai d'un mois suivant la réclamation de l'acheteur\nOu si cette solution ne peut l'être sans inconvénient majeur pour celui-ci compte tenu de\nla nature du bien et de l'usage qu'il recherche.\nLa résolution de la vente ne peut toutefois être prononcée si le défaut de conformité est mineur\n».\nCes dispositions s’appliquent sans préjudice pour le client à demander des dommages et intérêts\net en conformité avec l’article L.217-11.\nLes conditions de retour du produit décrites ci-après doivent être respectées, à défaut, le retour\nsera refusé :\nLes modalités d’échange/reprise suite à un problème SAV pour les articles livrés avec les\nprestations «Premium», « standard » ou « économique » pourront se faire, sans frais pour le\nclient, selon le mode de livraison original de la commande, au domicile du client ou dans l’un de\nnos dépôts de retrait, sous réserve que le client rapporte le produit.\n\nLe client pourra renvoyer son produit directement à l'adresse suivante, aux frais de la société\nvente- unique.com , en joignant une copie de sa facture à des fins d’identification de sa\ncommande :\nVENTE UNIQUE.COM\nSERVICE RETOURS PRODUITS\nEntrepôt CAFOM\nAv. de Bruxelles\n60110 AMBLAINVILLE\nSi le client n'est pas en mesure de renvoyer son produit par ses propres moyens, un service de\nreprise du produit pourra lui être proposé aux frais de Vente-unique.com. Ce service de reprise\nsera établi en fonction de l'adresse de livraison du client et du poids des marchandises\nretournées.\nExtension de garantie de 3 ans : A moins qu’elle ne soit mentionnée comme incluse sur la fiche\ntechnique du produit en ligne, cette extension est une option, non obligatoire. Elle prolonge de 3\nans les conditions de garantie de l’article 13 des présentes CGV.\n13.4 Articles relatifs aux garanties légales\nLe consommateur dispose d'un délai de deux ans à compter de la délivrance du bien pour\nobtenir la mise en œuvre de la garantie légale de conformité en cas d'apparition d'un défaut de\nconformité. Durant ce délai, le consommateur n'est tenu d'établir que l'existence du défaut de\nconformité et non la date d'apparition de celui-ci.\nLorsque le contrat de vente du bien prévoit la fourniture d'un contenu numérique ou d'un service\nnumérique de manière continue pendant une durée supérieure à deux ans, la garantie légale est\napplicable à ce contenu numérique ou ce service numérique tout au long de la période de\nfourniture prévue. Durant ce délai, le consommateur n'est tenu d'établir que l'existence du\ndéfaut de conformité affectant le contenu numérique ou le service numérique et non la date\nd'apparition de celui-ci.\nLa garantie légale de conformité emporte obligation pour le professionnel, le cas échéant, de\nfournir toutes les mises à jour nécessaires au maintien de la conformité du bien.\nLa garantie légale de conformité donne au consommateur droit à la réparation ou au\nremplacement du bien dans un délai de trente jours suivant sa demande, sans frais et sans\ninconvénient majeur pour lui.\nSi le bien est réparé dans le cadre de la garantie légale de conformité, le consommateur\nbénéficie d'une extension de six mois de la garantie initiale.\nSi le consommateur demande la réparation du bien, mais que le vendeur impose le\nremplacement, la garantie légale de conformité est renouvelée pour une période de deux ans à\ncompter de la date de remplacement du bien.\nLe consommateur peut obtenir une réduction du prix d'achat en conservant le bien ou mettre fin\nau contrat en se faisant rembourser intégralement contre restitution du bien, si :\nLe professionnel refuse de réparer ou de remplacer le bien;\nLa réparation ou le remplacement du bien intervient après un délai de trente jours;\nLa réparation ou le remplacement du bien occasionne un inconvénient majeur pour le\n\nconsommateur, notamment lorsque le consommateur supporte définitivement les frais\nde reprise ou d'enlèvement du bien non conforme, ou s'il supporte les frais d'installation\ndu bien réparé ou de remplacement;\nLa non-conformité du bien persiste en dépit de la tentative de mise en conformité du\nvendeur restée infructueuse.;\nLe consommateur a également droit à une réduction du prix du bien ou à la résolution du contrat\nlorsque le défaut de conformité est si grave qu'il justifie que la réduction du prix ou la résolution\ndu contrat soit immédiate. Le consommateur n'est alors pas tenu de demander la réparation ou\nle remplacement du bien au préalable.\nLe consommateur n'a pas droit à la résolution de la vente si le défaut de conformité est mineur.\nToute période d'immobilisation du bien en vue de sa réparation ou de son remplacement\nsuspend la garantie qui restait à courir jusqu'à la délivrance du bien remis en état.\nLes droits mentionnés ci-dessus résultent de l'application des articles L. 217-1 à L. 217-32 du\ncode de la consommation.\nLe vendeur qui fait obstacle de mauvaise foi à la mise en œuvre de la garantie légale de\nconformité encourt une amende civile d'un montant maximal de 300 000 euros, qui peut être\nporté jusqu'à 10 % du chiffre d'affaires moyen annuel (article L. 241-5 du code de la\nconsommation).\nLe consommateur bénéficie également de la garantie légale des vices cachés en application des\narticles 1641 à 1649 du code civil, pendant une durée de deux ans à compter de la découverte\ndu défaut. Cette garantie donne droit à une réduction de prix si le bien est conservé ou à un\nremboursement intégral contre restitution du bien.\nArticle 14 - Responsabilité\nLe client est tenu de vérifier l’exhaustivité, la véracité des renseignements qu’il fournit à Vente-\nunique.com lors de la commande et notamment l’adresse de livraison.\nLe client est responsable des renseignements qu’il aura fournis lors de son inscription et à la\ncommande. Vente-unique.com ne peut être tenue responsable d’éventuelles erreurs de saisie\nqui pourraient provoquer des erreurs de livraison.\nVente-unique.com ne peut être tenue responsable d’éventuelles erreurs commises par le client\net/ou du non respect par le client des modalités de livraison et rendez-vous qu’il aura lui-même\nfixé avec le transporteur.\nSans limiter les paragraphes précédents, la responsabilité de Vente-unique.com aux termes des\nprésentes Conditions Générales ne peut excéder une somme égale aux sommes payées ou\npayables lors de la transaction à l'origine de ladite responsabilité, quelle que soit la cause ou la\nforme de l'action concernée.\nSont considérés comme cas fortuit ou force majeure exonératoires de responsabilité tous faits\nou circonstances irrésistibles, imprévisibles et indépendants de la volonté des parties\nnotamment en cas de catastrophes naturelles telles que les inondations ou incendies.\n\nLe choix et l'achat d'une marchandise par le client sont sous sa seule et unique responsabilité.\nPar conséquent, l'impossibilité totale ou partielle d'utiliser les produits notamment pour cause\nd'incompatibilité du matériel ne peut donner lieu à aucun dédommagement, remboursement ou\nmise en cause de la responsabilité de Vente-unique.com, sauf dans le cas d'un vice caché avéré,\nd’une non-conformité d’une défectuosité ou de l'exercice du droit de rétractation prévus par le\ncode de la consommation.\nLes produits vendus sur le Site sont destinés à un usage privé. Ils ne peuvent en aucun cas être\nutilisés à titre professionnel par les associations ou collectivités, ne répondant pas aux normes\nd'usage professionnel.\nArticle 15 - Parrainage\nVente-unique.com permet à ses prospects et clients de parrainer leurs proches et amis afin de\nfaire connaître Vente-unique.com. Les filleuls ainsi parrainés doivent valider leurs parrainages en\nindiquant l’adresse email de leurs parrains. La collecte massive de filleuls en dehors du cercle\nprivé des proches et amis, est strictement prohibée.\nArticle 16 - Protection des Données\nVente-unique procède à la collecte des données personnelles du Client aux fins du traitement de\nla commande du Client, de l’établissement des factures, enquêtes de satisfaction, de\nl’identification du Client, et aux relations commerciales avec le Client. La société Vente-unique\nest responsable du traitement de ces données.\nConformément à la loi française \"Informatique et libertés\" n°78-17 du 6 janvier 1978 modifiée en\n2004 et du règlement européen sur la protection des données, le client possède un droit d’accès\net de rectification des informations le concernant ainsi qu’un droit d’opposition au traitement de\nses données et de portabilité. Pour exercer l’un de ces droits, le Client peut envoyer un courrier\nà l’adresse suivante :\nVente-unique.com\nService Client\n9/11 Rue jacquard\n93310 LE PRE SAINT GERVAIS\nLe détail des objectifs et des droits du Client sont détaillés dans notre Politique de Confidentialité\njointe en Annexe. Vente-unique.com se réserve le droit de procéder à la vérification de l’identité\ndu Client. Les « données personnelles » font référence aux informations concernant le Client en\ntant que personne physique communiquées volontairement par le Client. Les données\npersonnelles regroupent ainsi les données nominatives (telles que noms, prénoms, adresse e-\nmail, adresse postale, numéro de téléphone). Vente-unique.com protège la vie privée du Client\nen respectant la législation en vigueur. Habitat informe le Client que ce traitement automatisé\nd’informations a fait l’objet d’une déclaration à la CNIL sous le numéro 1133697.\nSi le Client donne son consentement exprès lors de la création ou de la modification de son\ncompte, il sera alors susceptible de recevoir des offres commerciales de Vente-unique.com. S’il\nne le souhaite plus, il peut, à tout moment, en faire la demande à Vente-unique.com via son\nespace client ou en écrivant à l'adresse ci- dessus ou en cliquant sur le lien ‘Désabonnement’\ndisponible en bas de chacun des messages de Vente-unique.com.Vente-unique.com informe ses\nclients que ce traitement automatisé d'informations, notamment la gestion des adresses courriel\ndes utilisateurs, a fait l'objet d'une déclaration à la CNIL sous le numéro 1133697.\nArticle 17 – Règlement des litiges\n\nLes présentes Conditions Générales de vente, la commande et tous les actes qui en découlent\nseront exécutés et interprétés conformément au droit français. Les parties rechercheront, avant\ntout contentieux, un éventuel accord amiable.\nConformément à l'article L.612-1 et suivants du Code de la consommation, le client peut recourir\ngratuitement au service de médiation AME Conso dont Vente-unique.com relève :\nsoit par internet (https://www.mediationconso-ame.com) en complétant le formulaire\ndédié à cet effet mis à sa disposition, accompagné des documents étayant sa demande.\nsoit par courrier postal : AME Conso, 11 place Dauphine – 75001 PARIS, accompagné des\ndocuments étayant sa demande.\nLe client est informé qu’il existe également une plateforme européenne de règlement en ligne\ndes litiges, conformément aux dispositions de l’article 14 du règlement UE 524/2013 laquelle est\naccessible au lien suivant : https://ec.europa.eu/consumers/od\nPour que sa demande soit recevable, le client doit notamment respecter les conditions suivantes\n:\nJustifier d’une tentative préalable de résolution amiable de son litige avec Vente-\nunique.com au moyen d’une réclamation écrite.\nAvoir introduit sa demande auprès du médiateur dans un délai inférieur à un an à\ncompter de sa réclamation écrite auprès de Vente-unique.com.\nMÉDIATION : Pour toutes les réclamations déjà déposées par écrit auprès du service clientèle du\nvendeur depuis moins d'un an et non satisfaites, conformément à l'article L.616-1 du code de la\nconsommation, le client peut gratuitement recourir au service de médiation AME CONSO, par\nvoie électronique via le lien https://www.mediationconso-ame.com ou par voie postale : AME\nConso - 11 place Dauphine – 75001 PARIS.\nTout litige de toute nature ou toute contestation relative à la formation ou l'exécution de la\ncommande, même en cas de recours en garantie ou de pluralité de défendeurs, sera à défaut\nd'accord amiable, de la compétence des Tribunaux français.\nArticle 18 – Divisibilité des clauses\nLe fait qu'une clause quelconque des présentes conditions générales de vente devienne nulle,\ninopposable, caduque, illégale ou inapplicable du fait d'une loi, d'un règlement ou à la suite\nd'une décision définitive d'une juridiction compétente, ne pourra remettre en cause la validité, la\nlégalité, l'applicabilité des autres stipulations des présentes conditions générales de vente qui\nresteront en vigueur.\nLe client restera tenu d’exécuter ses obligations contractuelles et ne pourra, à ce titre, se\nprévaloir d’une quelconque exonération de responsabilité.\nArticle 19 – Conditions d'adhésion au programme de fidélité Very-\nunique.\nLe présent article a pour objet l'adhésion, à titre gratuit, par le client au programme de fidélité\nVery-unique valable sur le Site. Le programme de fidélité Very-unique est disponible pour le\nclient dans les conditions définies ci-après.\n19.1 - Conditions d'adhésion au programme de fidélité Very-unique\n\nL'adhésion au programme de fidélité Very-unique est nominative, strictement personnelle et\nréservée aux personnes majeures résidant en France métropolitaine.\nVente-unique.com n'accepte qu'une seule adhésion au programme de fidélité Very-unique par\ncompte client (même nom, prénom, adresse, email). Une même personne ne peut créer\nplusieurs comptes clients pour bénéficier du programme de fidélité Very-unique. Vente-\nunique.com se réserve la possibilité de demander à tout moment tout document permettant de\njustifier l'identité de la personne souhaitant souscrire ou ayant souscrit au programme de fidélité\nVery-unique.\nLe client peut consulter les informations relatives à son programme de fidélité en se connectant\nsur son compte client et en cliquant sur l'onglet « programme de fidélité Very-unique ». Il\nappartient au client de maintenir à jour les informations personnelles le concernant sur son\ncompte client en procédant aux mises à jour sur le Site.\n19.2 - Offres et avantages du programme de fidélité Very-unique\nToute adhésion au programme de fidélité Very-unique s'effectue selon les conditions et\navantages en vigueur sur le Site. Le programme de fidélité Very-unique permet au client de\nbénéficier des avantages suivants :\nCagnotte calculée en euros points : Les avantages du programme de fidélité Very-unique\naccordés aux clients sont conditionnés à la réalisation d'un achat de produits sur le Site.\nLe programme de fidélité Very-unique permet au client de cumuler des euros points pour\ntoute commande de produits sur le Site. Le cumul commence dès le premier euro\ndépensé. Par exemple, depuis le 26/02/2026, pour 1 € dépensé sur le Site, 0,04 € sont\ncumulés ; ou encore pour 100 € dépensés en une ou plusieurs fois, 4 € sont cumulés.\nPour les commandes passées avant cette date, pour 1 € dépensé sur le Site, 0,02 €\nétaient cumulés. Seules les commandes validées et non annulées donnent droit au cumul\ndes euros points.\nPar ailleurs, le client peut gagner des euros points supplémentaires via des mécanismes\nde cagnottage additionnels. À ce titre, des euros-points peuvent notamment être\nattribués à l'occasion de la date anniversaire du client ou lors du renseignement d'un\nquestionnaire de satisfaction « avis clients ». Ces euros points viendront s'ajouter à ceux\ndéjà crédités sur la cagnotte du client.\nLe client peut consulter le solde de ses euros points en se connectant sur son compte\nclient et en cliquant sur l'onglet « programme de fidélité Very-unique ».\nLes euros points ont une durée de validité de douze mois à compter de la date\nd'adhésion au programme de fidélité Very-unique pour être transformés, par le client, en\nbon d'achat.\nToutefois, lorsque des euros points sont crédités sur la cagnotte du client au cours de la\npériode de douze mois, que ce soit à la suite d'une nouvelle commande ou dans le cadre\nde mécanismes de cagnottage additionnels, la durée de validité de l'ensemble des euros-\npoints figurant sur la cagnotte sera prorogée pour une nouvelle période allant de 360 à\n365 jours à compter de la date du dernier crédit d'euros points.\nEn conséquence, la durée de validité de la cagnotte du client est prorogée à chaque\nnouvel ajout d'euro points. En tout état de cause, le client est informé de son crédit\n\nd'euros points et de la date d'expiration de sa cagnotte dans son compte client.\nAu-delà de la durée de validité de la cagnotte, le crédit d'euros points non transformé en\nbon d'achat sera automatiquement perdu. Le client ne pourra pas former, à ce titre, de\nrecours contre Vente-unique.com.\nDès lors que le client transforme les euros-points en bon d'achat, le bon ainsi obtenu est\nutilisable lors d'un prochain achat de produits sur le Site. Il est uniquement valable sur\nles produits vendus (hors taxes et frais de livraison) par Vente-unique.com sur le Site. Le\nbon ne peut donc être déduit des achats de produits vendus par les vendeurs de la\nmarketplace. La durée de validité du bon d'achat est d'un mois à compter de sa date de\ndélivrance.\nL'accès exclusif en avant-première à certaines promotions. Cela signifie que seuls les\nmembres du programme de fidélité Very-unique peuvent bénéficier de prix réduits sur\ndes sélections de produits au moins quelques heures avant que ces mêmes prix réduits\nne soient proposés à l'ensemble des visiteurs du Site.\nDes journées Very-unique exclusives (promotions et avantages exclusifs pour les\nmembres uniquement).\nVente-unique.com se réserve la possibilité de suspendre l'adhésion du client au programme de\nfidélité Very-unique, voire de désactiver son compte de fidélité de manière définitive et, le cas\néchéant, d'annuler les avantages associés, en cas d'abus du client dans l'utilisation du\nprogramme de fidélité Very-unique.\n19.3 - Modification des conditions et avantages du programme de\nfidélité Very-unique\nVente-unique.com se réserve le droit de modifier, à tout moment, les conditions et avantages du\nprogramme de fidélité Very-unique. La valeur des points fixée à la discrétion de Vente-\nunique.com est notamment susceptible de varier ainsi que les avantages accordés dans le cadre\ndu programme de fidélité Very-unique.\n19.4 - Données personnelles\nLe traitement des informations personnelles du client est réalisé conformément à la loi «\nInformatique et Libertés » du 6 janvier 1978 modifiée, et au Règlement Européen 2016/679 du\n27 Avril 2016 pour la protection des données personnelles (RGPD).\nDestinataire des données : Les données collectées dans le cadre du programme de fidélité\nVery-unique sont destinées à la société Vente-unique.com et aux entités qu'elle contrôle, qui la\ncontrôlent ou sous contrôle commun avec elle. Les données collectées par le Site peuvent être\ntransférées à des tiers sous-traitants pour les besoins de l'exécution de la prestation.\nDonnées collectées : Les informations suivantes sont nécessaires pour adhérer au programme\nde fidélité Very-unique.com : nom, prénom, adresse postale, email. Le numéro de téléphone est,\nde manière facultative, demandé au client afin de lui communiquer des informations en lien avec\nson programme de fidélité. Si les informations obligatoires ne sont pas renseignées, le client ne\npourra pas participer au programme de fidélité Very-unique et recevoir des offres ainsi que des\navantages de Vente-unique.com.\nMoyens de collecte : Le client communique par écrit sur le Site ses données personnelles\nnécessaires à l'adhésion au programme de fidélité Very-unique.\n\nFinalités : Vente-unique.com conserve les informations relatives à l'historique des achats du\nclient pour la durée mentionnée dans la politique de confidentialité. Cette conservation est\nnécessaire pour gérer l'éligibilité du client aux différents avantages du programme de fidélité\nVery-unique et assurer sa bonne exécution. Par ailleurs, ces informations sont utilisées pour\nadresser au client les offres, les actualités ou les publicités personnalisées en fonction de ses\nprécédents achats et/ou intérêts.\nDurée de conservation : Les informations relatives au client sont conservées par Vente-\nunique.com pour une durée de cinq (5) ans.\nDroits d'accès, de rectification, de portabilité et de suppression : Le client dispose d'un\ndroit d'accès, de rectification, de portabilité et de suppression des informations le concernant.\nCe droit peut être exercé à l'adresse email dpo@vente-unique.com ou à l'adresse suivante :\nVente-unique.com – Dpo - 9/11 Rue jacquard 93310 LE PRE SAINT GERVAIS.\nArticle 20 – Reprise des produits usagés\nEn vertu des articles L. 541-10-8 et R541-159 et suivants du Code de l’environnement, le client a\nla possibilité de faire reprendre un produit usagé (meubles, matelas, produits électriques et\nélectroniques, jouets, articles de bricolage et de jardin… soumis au régime de responsabilité\nélargie) lors de l’achat d’un produit neuf.\nLa reprise (1 pour 1) d’un produit usagé équivalent est sans frais dans le cadre de l’achat d’un\nproduit neuf par le client.\nPour les Produits qui ne sont pas transportables sans équipement produit mesurant plus\nde 2m d’envergure arrêtes dépliées et pesant plus de 30kg), la reprise doit répondre aux\nconditions suivantes:\nLe client a indiqué lors de sa commande qu’il souhaitait qu’un produit soit repris à la\nlivraison. Aucune demande portant sur la reprise d’un produit usagé effectuée après la\nconclusion du contrat ne pourra être prise en compte ;\nLe produit à reprendre est de nature équivalente au produit livré (un canapé deux\nplaces pour un canapé deux places, une table basse pour une table basse, etc) ;\nLe produit à reprendre est de nature équivalente au produit livré (un canapé deux\nplaces pour un canapé deux places, une table basse pour une table basse, etc) ;\nLe produit est en quantité équivalente au produit livré (une armoire pour une armoire,\ndeux fauteuils pour deux fauteuils etc.) ;\nLe produit est disponible dans les mêmes conditions d’accessibilité que le produit livré ;\nLe produit à reprendre doit être mis à disposition du prestataire de livraison le jour de la\nlivraison du produit neuf au lieu de livraison du produit neuf ;\nSi le produit neuf est livré en kit, le produit repris devra être démonté et sécurisé.\nL'ensemble des éléments sera regroupé et attaché ensemble sans clou, vis ou éléments\npouvant porter atteinte à la sécurité du personnel. Le livreur pourra refuser la prise en\ncharge de tout produit usagé présentant un risque pour sa sécurité et/ou sa santé ;\nSi le produit repris est constitué de textile (canapé, fauteuils, matelas, etc.), il devra\nêtre houssé par le client pour permettre une manutention sans contact avec le tissu pour\nle personnel. Le client devra housser le produit par ses propres moyens. ;\nPour les équipements électriques et électroniques, les produits (caves à vin, etc.)\ndoivent être débranchés et vidés ;\nLe produit ne présente aucun risque de sécurité pour le personnel de Vente.unique.com\net de ses prestataires.\nSi les conditions de reprise indiquées ci-dessus ne sont pas respectées. Le livreur pourra\n\nrefuser de prendre en charge le produit usagé.\nPour les produits transportables sans équipement (mesurant moins de 2 mètres\nd’envergure arrêtes dépliées et pesant moins de 30kg), le Client a la possibilité de déposer son\nProduit dans un point de collecte de proximité dont la liste est indiquée par Vente-unique.com.\nFAQ\nVente-unique.com\nService Client\n9/11 Rue jacquard\n93310 LE PRE SAINT GERVAIS\nFrance.\nPowered by TCPDF (www.tcpdf.org)"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Prompt pour identifier le type de document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Détection du type de document": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message en cas de type de conditions non gérés",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prompt pour identifier les clauses importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction des clauses": {
      "main": [
        [
          {
            "node": "Transformation Markdown vers HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt pour identifier le type de document": {
      "main": [
        [
          {
            "node": "Détection du type de document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt pour identifier les clauses importantes": {
      "main": [
        [
          {
            "node": "Extraction des clauses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for extraction": {
      "ai_languageModel": [
        [
          {
            "node": "Extraction des clauses",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for detection": {
      "ai_languageModel": [
        [
          {
            "node": "Détection du type de document",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d0f6a779-e88f-41d8-902b-40b2f10ad197",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "592f66c5847207abda5a7374a69bd90a8011b8412dfd3af6df1130091d871d3b"
  },
  "id": "LosAyB10pTjm7Fwo",
  "tags": []
}